body {
    min-width: 200px;
    font-family: Arial, sans-serif;
    padding: 10px;
}
.option {
    margin: 10px 0;
}
label {
    display: block;
}
.slider {
    width: 100%;
}
.status {
    display: inline-block;
    width: 50px;
}